@model Result
<fieldset class="border border-dark rounded">
    <legend class="float-none w-auto ms-2 mb-0 ps-2 pe-2">Result</legend>

    <ul class="list-group-flush rounded ps-0 mb-0 mt-0">
        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.BenchmarkName)
            </div>
            <div>
                @Html.DisplayFor(model => model.BenchmarkName)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div>
                @Html.DisplayFor(model => model.Name)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Block)
            </div>
            <div>
                @Html.DisplayFor(model => model.Block)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.DisplayName)
            </div>
            <div>
                @Html.DisplayFor(model => model.DisplayName)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Tool)
            </div>
            <div>
                @Html.DisplayFor(model => model.Tool)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.ToolModule)
            </div>
            <div>
                @Html.DisplayFor(model => model.ToolModule)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Date)
            </div>
            <div>
                @Html.DisplayFor(model => model.Date)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.StartTime)
            </div>
            <div>
                @Html.DisplayFor(model => model.StartTime)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.EndTime)
            </div>
            <div>
                @Html.DisplayFor(model => model.EndTime)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.CPUCores)
            </div>
            <div>
                @Html.DisplayFor(model => model.CPUCores)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.TimeLimit)
            </div>
            <div>
                @Html.DisplayFor(model => model.TimeLimit)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.MemLimit)
            </div>
            <div>
                @Html.DisplayFor(model => model.MemLimit)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Options)
            </div>
            <div>
                @Html.DisplayFor(model => model.Options)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Generator)
            </div>
            <div>
                @Html.DisplayFor(model => model.Generator)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Generator)
            </div>
            <div>
                @Html.DisplayFor(model => model.Generator)
            </div>
        </li>

        <li class="list-group-item d-flex flex-column justify-content-between align-items-start">
            <div class="fw-bold">
                @Html.DisplayNameFor(model => model.Error)
            </div>
            <div>
                @Html.DisplayFor(model => model.Error)
            </div>
        </li>
    </ul>
</fieldset>
